<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to "首頁", root_path %></li>
  <li role="presentation"><%= link_to "最新動態", feeds_restaurants_path %></li>
  <li role="presentation"><%= link_to "美食達人", followships_restaurants_path %></li>
</ul>