@import "bootstrap-sprockets";
@import "bootstrap";
@import "de-login";
@import "form";
@import "users";
//title
.title{
  border: 2px solid black;
  position: fixed;
  padding: 5px;
  top: 0;
  width: 100%;
  height: 5%;
  text-align: center;
}
//content
.content2{
  border: 2px solid red;
  text-align: center;
}
.f-b{
  border: 2px solid green;
  background-color: LightSlateGrey ;
  padding: 8px;
}
.res-place{
  border: 2px solid yellow;
  height: 250px;
}
