// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//feeds
.feeds{
    float: left;
    width: 50%;
    text-align: left;
}

//followship
.follow-people{
    border: 2px solid yellow;
    display: inline;
    float: left;
    width: 150px;
    height: 150px;
}