// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment{
	width: 70%;
	float: right;
	nav{
		font-size: 0.7cm;
		text-align: left;
	}
}
.follower{
	width: 30%;
	float: left;
	nav{
		font-size: 0.7cm;
		text-align: left;
	}
}
.my-restaurant{
	border: 1px solid black;
	height: 200px;
	width: 200px;
	margin: 10px;
	float: left;
}
.img{
	margin: 10px;
	height: 120px;
	max-width: 160px;
}
.avatar{
	border: 1px solid red;
	width: 30%;
	height: 300px;
	margin: 10px;
	display: inline;
	float: left;
}
.profile-content{
	float: left;
	text-align: left;
	width: 60%;
	margin-top: 10px;
	border: 1px solid blue;
	font-size: 0.5cm;
	p{
		font-size: 1cm
	}
}